<div>
            <div class="bienvenidos">
                <h2>Biografia</h2>
                <h4> Inicios</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem architecto facere cupiditate optio,
                    expedita asperiores ipsam. Vel nulla rerum, doloremque sint voluptate ullam expedita, cumque autem
                    repellendus minima magnam? Earum. Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Veritatis dignissimos unde, asperiores similique vitae voluptatum magni facilis recusandae deserunt
                    iste eius maxime sed voluptatibus totam est corrupti architecto! Ipsa, accusamus. Lorem ipsum dolor
                    sit amet consectetur, adipisicing elit. Atque tempora at nesciunt quod culpa voluptas hic qui
                    voluptatem placeat assumenda! Dignissimos impedit placeat nihil debitis vero officiis corporis quo
                    nostrum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum obcaecati voluptate sapiente
                    culpa accusamus? Totam, ducimus obcaecati iure aspernatur dolore voluptate doloremque est ut culpa
                    omnis at reiciendis sint consectetur.</p>
                <hr>
                <h4> Demo</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem architecto facere cupiditate optio,
                    expedita asperiores ipsam. Vel nulla rerum, doloremque sint voluptate ullam expedita, cumque autem
                    repellendus minima magnam? Earum. Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Veritatis dignissimos unde, asperiores similique vitae voluptatum magni facilis recusandae deserunt
                    iste eius maxime sed voluptatibus totam est corrupti architecto! Ipsa, accusamus. Lorem ipsum dolor
                    sit amet consectetur, adipisicing elit. Atque tempora at nesciunt quod culpa voluptas hic qui
                    voluptatem placeat assumenda! Dignissimos impedit placeat nihil debitis vero officiis corporis quo
                    nostrum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum obcaecati voluptate sapiente
                    culpa accusamus? Totam, ducimus obcaecati iure aspernatur dolore voluptate doloremque est ut culpa
                    omnis at reiciendis sint consectetur.</p>
                <hr>
                <h4> Banda</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem architecto facere cupiditate optio,
                    expedita asperiores ipsam. Vel nulla rerum, doloremque sint voluptate ullam expedita, cumque autem
                    repellendus minima magnam? Earum. Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Veritatis dignissimos unde, asperiores similique vitae voluptatum magni facilis recusandae deserunt
                    iste eius maxime sed voluptatibus totam est corrupti architecto! Ipsa, accusamus. Lorem ipsum dolor
                    sit amet consectetur, adipisicing elit. Atque tempora at nesciunt quod culpa voluptas hic qui
                    voluptatem placeat assumenda! Dignissimos impedit placeat nihil debitis vero officiis corporis quo
                    nostrum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum obcaecati voluptate sapiente
                    culpa accusamus? Totam, ducimus obcaecati iure aspernatur dolore voluptate doloremque est ut culpa
                    omnis at reiciendis sint consectetur.</p>
                <hr>
                <h4> Grabacion de disco</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem architecto facere cupiditate optio,
                    expedita asperiores ipsam. Vel nulla rerum, doloremque sint voluptate ullam expedita, cumque autem
                    repellendus minima magnam? Earum. Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Veritatis dignissimos unde, asperiores similique vitae voluptatum magni facilis recusandae deserunt
                    iste eius maxime sed voluptatibus totam est corrupti architecto! Ipsa, accusamus. Lorem ipsum dolor
                    sit amet consectetur, adipisicing elit. Atque tempora at nesciunt quod culpa voluptas hic qui
                    voluptatem placeat assumenda! Dignissimos impedit placeat nihil debitis vero officiis corporis quo
                    nostrum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum obcaecati voluptate sapiente
                    culpa accusamus? Totam, ducimus obcaecati iure aspernatur dolore voluptate doloremque est ut culpa
                    omnis at reiciendis sint consectetur.</p>
                <hr>

            </div>
        </div>